body{
    color: rgb(245, 255, 110); 
    background-color: lightgreen;
}
.heading{
    width: 80%;
    font-size: 20px;
}
.name_of_objects{
    color: antiquewhite;
}
#camera,#rusult{
    border:2px dashed blue;
    width: 350px;
    height: 300px;
}
